h2.red-text {
    color:red;
    font-size: 40px;
    font-family:fantasy;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}
h2.blue-text {
    color:cornflowerblue;
    font-size: 40px;
    font-family:fantasy;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}
img.poster {
    border-radius: 50%;
}
div.movie {
    float: left;
    margin: 2px;
}

div p {
    text-align: center;
    color:white;
    font-family: fantasy;
    text-shadow: 2px 2px 5px black;
    font-size: 17px;
}